* text=auto

*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
Dockerfile* text eol=lf
.dockerignore text eol=lf
.gitattributes text eol=lf

*.png binary
*.ico binary
*.icns binary
*.woff binary
*.woff2 binary
*.zip binary
*.exe binary

desktop/EasySSHDesktop/frontend/bindings/** text eol=lf
